{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<div class="section__title">The Latest</div>
  {{ range first 1 (where .Site.RegularPages "Section" "apps") }}
  <section class="portfolio__featured-project">
      <div class="section-inner">
          <div class="portfolio_content">
              <div class="item featured text-center">
                  <span class="project__title">
                      <a href="{{ .Params.Link }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
                  </span>
                  <p class="project__subtitle-big">
                      <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                      {{ .Params.description }}
                      <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
                  </p>
                  <div class="project__featured-image">
                      <img src="/apps/{{ .Params.screenshot }}"  alt="{{ .Title }}">
                  </div>
                  <div class="project__summary">
                          {{ .Content }}
                  </div>
              </div>
          </div>
      </div>
  </section>
  <hr class="divider">
  {{ end }}
{{ end }}

{{ define "footer" }}
    {{ partial "portfolio/footer.html" . }}
{{ end }}
